@model IEnumerable<Delivery.Web.Models.PostOperatorViewModel>

@{
    ViewBag.Title = "Головна";
}

<h2>Головна</h2>

<p>
    @Html.ActionLink("Створити", "Create")
</p>
<table class="table">
    <tr>
        <th>Назва</th><th>Сторінка пошуку</th><th>Лого</th><th>Діючий?</th><th>Опис</th><th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.LinkToSearchPage)</td>
        <td>@Html.DisplayFor(modelItem => item.PathToLogoImage)</td>
        <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
        <td>@Html.DisplayFor(modelItem => item.Notes)</td>
        <td>@Html.ActionLink("Редагувати", "Edit", new { id=item.Id } )</td>
    </tr>
}

</table>
