@model Delivery.Web.Models.MainIndexViewModel

@{
    ViewBag.Title = "Index";
}

<br/>
<div class="row">
    <form method="post" class="form-inline">
        <label>Відправлення:</label>
        @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
        <input type="submit" value="Знайти" class="btn btn-default" />
    </form>
</div>

<div class="row">
    <h2>Поштові оператори:</h2>
    <table class="table">
        <tr>
            <th>Назва</th>
            <th>Пошукова сторінка</th>
            <th>Лого</th>
            <th>Діючий?</th>
            <th>Примітки</th>
        </tr>

        @foreach (var item in Model.PostOperators)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.LinkToSearchPage)</td>
                <td>@Html.DisplayFor(modelItem => item.PathToLogoImage)</td>
                <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                <td>@Html.DisplayFor(modelItem => item.Notes)</td>
            </tr>
        }

    </table>
</div>
