@model Delivery.Web.Models.AppUserViewModel

@{
    ViewBag.Title = "Видалення користувача";
}

<h2>Видалення користувача</h2>

<h3>Ви впевнені, що бажаєте видалити запис?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
        <dd>@Html.DisplayFor(model => model.UserName)</dd>
        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>@Html.DisplayNameFor(model => model.Password)</dt>
        <dd>@Html.DisplayFor(model => model.Password)</dd>
        <dt>@Html.DisplayNameFor(model => model.Role)</dt>
        <dd>@Html.DisplayFor(model => model.Role)</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-danger" /> |
            @Html.ActionLink("Назад до списку", "Users")
        </div>
    }
</div>
