@model Delivery.Web.Models.InvoiceViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Видалення відправлення</h2>

<h3>Ви впевнені, що бажаєте видалити запис?</h3>
<div>
    <h4>Відправлення</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Оператор</dt>
        <dd>@Html.DisplayFor(model => model.PostOperatorName)</dd>

        <dt>Номер</dt>
        <dd>@Html.DisplayFor(model => model.Number)</dd>

        <dt>Дата відправлення</dt>
        <dd>@Html.DisplayFor(model => model.SendDateTime)</dd>
        
        <dt>Місцезнаходження</dt>
        <dd>@Html.DisplayFor(model => model.CurrentLocation)</dd>
        
        <dt>Статус</dt>
        <dd>@Html.DisplayFor(model => model.ActualStatus)</dd>
        
        <dt>Примітки</dt>
        <dd>@Html.DisplayFor(model => model.Notes)</dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-danger" /> |
            @Html.ActionLink("Назад до списку", "Index")
        </div>
    }
</div>
