@model IEnumerable<Delivery.Web.Models.InvoiceViewModel>

@{
    ViewBag.Title = "Головна";
}

<h2>Відправлення</h2>

<p>
    @Html.ActionLink("Створити", "Create")
</p>
<table class="table">
    <tr>
        <th>Оператор</th><th>Номер</th><th>Дата</th><th>Місцезнаходження</th><th>Статус</th><th>Опис</th><th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.PostOperatorName)</td>
        <td>@Html.DisplayFor(modelItem => item.Number)</td>
        <td>@Html.DisplayFor(modelItem => item.SendDateTime)</td>
        <td>@Html.DisplayFor(modelItem => item.CurrentLocation)</td>
        <td>@Html.DisplayFor(modelItem => item.ActualStatus)</td>
        <td>@Html.DisplayFor(modelItem => item.Notes)</td>
        <td>
            @Html.ActionLink("Інфо", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Оновити", "UpdateStatus", new { id = item.Id }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Видалити", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
