@model IEnumerable<Delivery.Web.Models.InvoiceViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Відправлення</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostOperatorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PathToLogoImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Інфо", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Оновити", "UpdateStatus", new { id = item.Id }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Видалити", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
